*~
Makefile.config
src/baselib/dynlink_wrapper.ml
src/baselib/ocsigen_config_static.ml
src/extensions/ocsipersist.mli
src/extensions/ocsipersist-dbm/ocsipersist.mli
src/extensions/ocsipersist-sqlite/ocsipersist.mli
src/extensions/ocsipersist-pgsql/ocsipersist.mli
ocsigenserver.conf.sample
ocsigenserver.conf.opt.sample
local
doc/api-html
doc/api-wiki
_opam
_build
