version=0.28.1
break-cases=fit
break-collection-expressions=fit-or-vertical
break-fun-decl=wrap
break-fun-sig=wrap
break-infix-before-func=false
break-infix=wrap
break-separators=before
break-sequences=false
break-string-literals=never
break-struct=force
cases-matching-exp-indent=compact
doc-comments=after-when-possible
dock-collection-brackets=false
field-space=loose
if-then-else=keyword-first
indicate-multiline-delimiters=no
infix-precedence=indent
let-and=compact
let-binding-spacing=compact
module-item-spacing=compact
ocp-indent-compat=true
parens-tuple-patterns=multi-line-only
parens-tuple=multi-line-only
parse-docstrings=false
sequence-blank-line=compact
sequence-style=terminator
single-case=compact
space-around-arrays=false
space-around-lists=false
space-around-records=false
space-around-variants=false
type-decl=compact
