name: Builds, tests & co

on:
  push:
  pull_request:
  schedule:
    # Prime the caches every Monday
    - cron: 0 1 * * MON

permissions: read-all

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - macos-latest
          - windows-latest
        ocaml-compiler:
          - 5
          - 4
        include:
          - os: ubuntu-latest
            ocaml-compiler: "4.08"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Set git to use LF
        if: matrix.os == 'windows-latest'
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
          git config --global core.ignorecase false

      - name: Checkout tree
        uses: actions/checkout@v5

      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - run: opam install . --deps-only

      - run: opam exec -- bash ./configure

      - run: opam exec -- make all

  # lint-doc:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout tree
  #       uses: actions/checkout@v5
  #     - name: Set-up OCaml
  #       uses: ocaml/setup-ocaml@v3
  #       with:
  #         ocaml-compiler: 5
  #     - run: opam install . --deps-only
  #     - run: opam exec -- bash ./configure
  #     - run: opam exec -- make all
  #     - uses: ocaml/setup-ocaml/lint-doc@v3

  lint-fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@v5
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5
      - run: opam install . --deps-only
      - run: opam exec -- bash ./configure
      - run: opam exec -- make all
      - uses: ocaml/setup-ocaml/lint-fmt@v3

  # lint-opam:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout tree
  #       uses: actions/checkout@v5
  #     - name: Set-up OCaml
  #       uses: ocaml/setup-ocaml@v3
  #       with:
  #         ocaml-compiler: 5
  #     - run: opam install . --deps-only
  #     - run: opam exec -- bash ./configure
  #     - run: opam exec -- make all
  #     - uses: ocaml/setup-ocaml/lint-opam@v3
